.header {
    background-color: #101010;
    padding: 35px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.514);
}




.header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__button {
    display: none;
    background-color: transparent;
    border:none;
    background-repeat: no-repeat;
    outline: none;
    overflow: hidden;
}

.nav__button-list {
    display: none;
}

.header__logo-link {
    text-decoration: none;
    margin-right: 10%;
}

.header__logo-title {
    color: #fff;
    font-size: 36px;
    font-family: "Manrope", sans-serif;
}

.header__adoptive-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__adoptive-wrapper-link{
    width: 100%;
    margin-left: 85%;
}

.nav__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item {
    margin-left: 10%;
}

.nav__link {
text-decoration: none;
font-family: 'Manrope', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 25px;
letter-spacing: 2px;
text-transform: uppercase;
color: #FFFFFF;
transition: 0.5s;
}

.nav__link:hover {
    color: #d87d4a;
}

@media(max-width:1200px )
{
    .container {
        width: 1140px;
    }
}

@media(max-width:1150px )
{
    .container {
        width: 1090px;
    }

    .header__adoptive-wrapper-link {
        margin-left: 45% !important;
        margin-top: -20px;
    }
}



@media(max-width:1100px )
{
    .container {
        width: 1000px;
    }

    .nav__item {
        margin-left: 5%;
    }

    .header__adoptive-wrapper-link {
        margin-left: 35% !important;
    }
}


@media(max-width:1000px )
{
    .container {
        width: 900px;
    }

    .nav__item {
        margin-left: 3%;
    }

    .header__adoptive-wrapper-link {
        margin-left: 45%;
    }

    .header__logo-link {
        margin-right: 5%;
    }
}


@media(max-width:900px )
{
    .container {
        width: 800px;
    }

    .header__logo-link {
        margin-right: 3%;
    }

    .header__logo-title {
        font-size: 32px;
    }

    .nav__link {
        font-size: 13px;
    }
}


@media(max-width:850px )
{
    .container {
        width: 750px;
    }

    .header__adoptive-wrapper-link {
        margin-left: 35%;
    }
}


@media(max-width:800px )
{
    .container {
        width: 700px;
    }


    .header__button {
        display: block;
        margin-right: 5%;
        transition: 0.5s;
    }

    .header__button:hover .nav__button-list {
        display: block;
        display: flex;
        align-items: start;
        list-style: none;
        position: fixed;
        z-index: 1;
        flex-direction: column;
        width: 20%;
        background-color: #fff; 
        padding: 15px 10px;  
        border-radius: 5px; 
    }

    .nav__button-item {
        margin-bottom: 15px;
    }

    .nav__button-link {
        text-decoration: none;
        font-family: 'Manrope', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #000;
        transition: 0.5s; 
    }

    .nav__button-link:hover {
        color:#d87d4a;
    }

    .nav__list {
        display: none;
    }

    .header__adoptive-wrapper-link {
        margin-left: 200px !important;
        margin-right: -400px !important;
    }
}

@media (max-width:700px) {
    .container {
        width: 600px;
    }

    .header__adoptive-wrapper-link {
        margin-left: 200px !important;
        margin-right: -300px !important;
    }

    .header__button {
        margin-right: 2%;
    }
}

@media (max-width:600px) {
    .container {
        width: 500px;
    }
    .header__adoptive-wrapper-link {
        margin-left: 100px !important;
    }

    .header__button {
        margin-right: 0%;
    }

    .header__button .nav__button-list {
        width: 23% !important;
    }

    .header__logo-title {
        margin-left: 20px;
    }
}

@media (max-width:550px) {
    .container {
        width: 450px;
    }
    .header__adoptive-wrapper-link {
        margin-left: 180px !important;
        margin-right: 5px !important;
    }
}

@media (max-width:470px) {
    .container {
        width: 400px;
    }
    .header__adoptive-wrapper-link {
        margin-left: 80px !important;
        margin-right: -25px !important;
    }

    
    .header__button .nav__button-list {
        width: 30% !important;
    }
}

@media (max-width:400px) {
    .container {
        width: 350px;
    }
    .header__adoptive-wrapper-link {
        margin-left: 50px !important;
        margin-right: -25px !important;
    }

    .header__logo-title {
        margin-left: 50px;
        
    }
    .header__button .nav__button-list {
        width: 35% !important;
    }
}

@media (max-width: 350px) {
    .container {
        width: 300px;
    }
    .header__adoptive-wrapper-link {
        margin-left: 20px;
    }

    .header__logo-title {
        margin-left: 40px;
        
    }

    .header__button .nav__button-list {
        width: 40% !important;
    }

}